* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #fffffa;
}

#hero {
  padding-top: 100px;
  background-image: url(./imege/Hero-bg.png);
  background-size: 500px;
  background-position: center;
  margin-bottom: 150px;
}

#hero-contaner {
  width: 87.5%;
  /* background-color: aqua; */
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 70px;
  padding-right: 20px;
  margin: 0 auto;
}
#hero-contan {
  padding-bottom: 100px;
}

#hero-contaner h1 {
  /* background-color: rgb(255, 0, 0); */
  font-size: 56px;
  margin-bottom: 30px;
  /* font-weight: bolder; */
}

#hero-contaner h1 span {
  /* background-color: black; */
  color: #872bff;
}

#hero-contaner p {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 30px;
  color: #8a8a8a;
}

#heading {
  margin-bottom: 60px;
  text-align: center;
}

.heading h4 {
  font-size: 22px;
  letter-spacing: 2px;
  color: #6a14da;
  font-weight: bold;
  margin-bottom: 15px;
}

.heading h2 {
  font-weight: 59px;
  font-weight: 800;
  font-weight: bold;
}

.contaner {
  width: 87.5%;
  margin: 0 auto;
}

.btn {
  background-color: #872bff;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.5s;
}

.btn-a {
  background-color: transparent;
  color: #000000;
  padding: 15px 30px;
  border-radius: 30px;
  border: 1px solid #872bff;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;

  transition: 0.5s;
}

.btn:hover {
  box-shadow: 0 11px 31px 0 #8c8c8c;
  scale: 3px;
}
.btn-a:hover {
  box-shadow: 0 11px 31px 0 #872bff;
  scale: 3px;
}

#hero-image img {
  height: 800px;
  /* vertical-align: middle; */
}

#skill {
  margin-bottom: 150px;
}

.card-box {
  display: flex;
  /* background-color: aqua; */
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
  gap: 30px;
}

.card {
  /* border: 1px solid red; */
  padding: 40px;
  text-align: center;
  width: 320px;
  border: #872bff 0.1px solid;
  box-shadow: 0 4px 4px #00000025;
  border-radius: 16px;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 11px 31px 0 #8c8c8c;
  scale: 3px;
}

.card * {
  margin-bottom: 20px;
}

.card h3 {
  font-size: 22px;
  font-weight: bolder;
}
.card p {
  font-size: 16px;
  color: #0d1321;
}
.card a {
  color: #0d1321;
  font-weight: bold;
}

.card:hover {
  box-shadow: 0 5px 35px 0 #872bff;
  scale: 3px;
}

#projects {
  margin-bottom: 150px;
}

.project-card {
  padding: 48px;
  background-color: #ffffff;
  border: #872bff 1px solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.project-img img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

.project-contan h3 {
  font-weight: bold;
  font-size: 32px;
}

.project-contan p {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 24px;
  color: #0e0e0e70;
  letter-spacing: 1px;
}

#project-btn .btn {
  margin-top: 18px;
}

.company-card {
  gap: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.company-card {
  display: flex;
  justify-content: space-evenly;
}

.experience {
  margin-bottom: 150px;
}

.brand-img {
  padding: 40px;
  border-radius: 16px;
  border: #0e0e0e15 1px solid;
  box-shadow: 0 4px 4px #00000025;
  background-color: #ffffff;
}

#experience-btn {
  text-align: center;
  padding: 60px 0;
}

#footer #footer-contaner .taxt p {
  color: #5b5757;
  font-size: 16px;
}

#footer #footer-contaner .imege {
  width: 182px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #6A14DA; */
}

#footer #footer-contaner .imege img {
  width: 30px;
  height: 30px;
}

#footer #footer-contaner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* responsive */

/* laptop 1025 - 1200px */

@media screen and ( max-width:1200px) {
      
  #hero-contan h1 {
    font-size: 32px;
    margin-bottom: 30px;

  }

  #hero-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #hero-contan p {
    font-size: 14px;

  }

  .project-img img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

.project-card {
  padding: 38px;
}


}

/* tablet 796 - 1024  */
@media screen and ( max-width:1024px) {

  #hero-contaner {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  #hero-btn{
    flex-direction: row;
    justify-content: center;
    /* margin-left: 10px; */
  }

  .btn , .btn-a{
    margin-right: 0px;
  }

  #hero-contan {
    padding-bottom: 0;
  }

  #hero-image img {
    width: 300px;
    height: 520px;
    vertical-align: middle;
  }

  .card-box {
    flex-direction: column;
    padding: 10px;
    /* align-items: center; */
  }

  .project-box{
    padding: 10px;
  }

  .card {
    width: 100%;
  }


}
/* android landscape  */
@media screen and ( max-width:768px) {

  .project-card {
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }
  .project-contan p {

    font-size: 15px;

  }

  #project-card-two-id{
    flex-direction: column-reverse;
  }

  .project-img img {
  width: 100%;
  height: 100%;
}

  .company-card {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

} 

/* android potait 320 - 568  */
@media screen and ( max-width:568px) {
  .contaner {
    width: 98%;
    margin: 0 auto;
  }

  #hero-contaner{
    padding: 0;
  }

  #hero-image img {
    max-height: 350px;
    width: 100%; 
    padding-bottom: 0%;
  }

  #hero-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .company-card .brand-img img {
    height: 100%;
    max-width: 150px;
  }


  #footer #footer-contaner .imege {
  width: 130px;
  height: 25px;
  display: flex;
  justify-content: space-around;
}

#footer #footer-contaner .taxt p {
  font-size: 10px;
}

#footer #footer-contaner .imege img {
  width: 20px;
  height: 20px;
}


}